nav {
    display: flex;
    padding: 0 20px;
    height: 100px;
    align-items: center;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.btn__menu {
    width: 30px;
    height: 20px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor, .link {
    font-weight: 700;
    color: #fff;
}

.nav__link--contact {
    background-color: rgb(132, 1, 1);
    border: none;
    border-radius: 20px;
    color: black;
    padding: 10px;
    transition: all 300ms ease;
}

.nav__link--contact:hover {
    transform: scale(1.1);
}